body {
    background-color: lightgray;
}

#joke_container {
    margin: auto;
    width: 100%;
}

#header {
    color: lightseagreen;
    outline: black;
}

.joke_card {
    text-align: center;
    display: inline-grid;
    border: 1px solid black;
    background-color: lightseagreen;
    padding: 1rem;
    width: 15rem;
    height: 20rem;
    margin: 1rem 2rem;
}

#form_container {
    margin: auto;
    color: black;
    text-align: center;
    width: 50%;
    background-color: lightseagreen;
    border: 1px solid black;
}

.textarea {
    width: 350px;
}

.joke-divs {
    margin: auto;
}

#setup-div {
    border: 1px solid black;
    width: 15rem;
    height: 6rem;
    background-color: grey;
    text-align: center;
    color: white;
}