#header {
    color: green;
}

.joke_card {
    text-align: center;
    display: inline-grid;
    border: 1px solid #ccc;
    background-color: pink;
    padding: 1rem;
    width: 10rem;
    height: 20rem;
    margin: 1rem 2rem;
}

#form_container {
    background-color: blue;
}