#header {
    color: green;
}

.joke_card {
    text-align: center;
    display: inline-grid;
    border: 1px solid #ccc;
    background-color: pink;
    padding: 1rem;
    width: 15rem;
    height: 20rem;
    margin: 1rem 2rem;
}

#form_container {
    margin: auto;
    color: white;
    text-align: center;
    width: 50%;
    background-color: blue;
}

.textarea {
    width: 350px;
}